<div class="article">
    <div class="wrapper">
        <div class="wrapperText">
            <h1>
                <mark>
                    Equipos de Trabajo: Comprende como esta influye en el ambiente laboral
                </mark>
            </h1>
            <p id="author">
                <mark>by Bruno Ruiz</mark>
            </p>
        </div>
    </div>
    <div class="articleText">
        <h4 class="introduction">
            Frente a escenarios cambiantes, muchas empresas han dejado atrás las estructuras tradicionales para apostar por nuevas formas de operar y, en esta travesía, los equipos de trabajo han desempeñado un papel importante, dado que a través de ellos, la innovación toma forma y surge como un factor a potenciar, llevando a las organizaciones cada vez más cerca de una cultura ágil. La implementación de la agilidad, junto con sus valores y principios pasan a la acción a través del uso de una metodología ágil, la cual implica la creación de equipos multidisciplinarios, quienes son los encargados de llevar a cabo las actividades y materializar los objetivos de las organizaciones.
        </h4>
        <p>
            Este último punto es muy importante ya que a pesar de lo positivo y beneficioso que puede ser para una organización contar con equipos multidisciplinarios, es necesario tener en cuenta que en muchas oportunidades, no se obtienen los resultados esperados, por el contrario, surgen nuevos problemas y se hace difícil alcanzar las metas deseadas. De hecho, según un <a href="#">estudio publicado en el Harvard Business Review</a>, reunir a personas de diferentes áreas para trabajar en conjunto, puede incluso estancar la innovación, debido a que en un 75% de los casos estos equipos no logran alcanzar la productividad deseada
        </p>
        <h2>Diferentes Equipos de Trabajo para Diferentes Etapas</h2>
        <p>
            Al momento de comenzar una nueva iniciativa, hay que tener en claro que para las diferentes etapas se necesitan distintos equipos de trabajo, pues cada proceso demanda de variadas acciones y requisitos. Para abordar estos requerimientos, es preciso considerar el trabajo en equipo en cuatro grandes categorías:
        </p>
        <h3 class="actions">Equipos Pequeños</h3>
        <p>
            Para estos casos, el trabajo se realiza en su mayoría en forma independiente, pero en el momento que se requiera, es necesario compartir algún recurso o información a otro individuo para completar la tarea. La base está en una comunicación y coordinación clara, pues esto ayuda a comprender qué es lo que se solicita y para cuándo.
            <br>
            Es posible ver este tipo de trabajo en una organización con diferentes unidades de negocio, que proporcionan resultados financieros mensuales al departamento de finanzas corporativas, para luego consolidarlos en un informe financiero mensual para el equipo ejecutivo y los miembros de la junta directiva.
        </p>
        <h3 class="actions">Equipos Sincronizados</h3>
        <p>
            El trabajo en este tipo de equipos se lleva a cabo mediante una coordinación en las tareas para alcanzar un resultado exitoso, en el que dos o más equipos de trabajo distintos (o colaboradores individuales) realizan la misma rutina, pero de manera sincronizada. Por ejemplo, en un equipo de ventas regionales, cada miembro prospecta, cierra y gestiona sus propios clientes utilizando el mismo procedimiento. Sin bien cada persona hace sus labores de forma independiente, la suma de las acciones de todos determina el éxito del equipo regional.
        </p>
        <h3 class="actions">Equipos Coordinados</h3>
        <p>
            En estos casos, las personas desempeñan funciones independientes que impactan entre sí, y esto lo podemos ver en aquellos equipos de atención crítica que manejan la crisis del Covid-19. Estos equipos están compuestos por distintos especialistas del área de la salud y cada uno de ellos realiza sus propias tareas, las que ya están claramente definidas, pero a través de su coordinación, pueden realizar sus labores y obtener los resultados deseados.
        </p>
        <h3 class="actions">Equipos Interdependientes</h3>
        <p>
            Probablemente esta sea una de las formas más compleja de trabajo en equipo. Cuando se pretende lanzar un nuevo producto o innovación al mercado, se reúne a personas con diferentes habilidades para enfrentar el desafío y la estructura del equipo es a menudo flexible, por lo que tiende a tomar una forma más concreta a media que se avanza. De esta manera, las personas deben ajustar sus funciones y responsabilidades sobre la marcha para abordar y comunicarse a través de situaciones impredecibles.
        </p>
    </div>
    <br>
</div>
