<footer class="footer-distributed">
    <div class="footer-left">
        <img src="assets/logos/logo-app.png" height="150" width="auto">

        <p class="footer-links">
            <a href="#" class="link-1">inicio</a>
            <a href="#">Que Hacemos</a>
            <a href="#">Como Lo Hacemos</a>
            <a href="#">Blogs</a>
            
        </p>

        <p class="footer-company-name">Consul Sur & Asoc. @ 2021</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span>Paraguay 300</span>Cipolletti - Rio Negro</p>
        </div>

        <div>
            <i class="fas fa-envelope"></i>
            <p><a href="#">consulasoc@gmail.com</a></p>
        </div>

        <div>
            <i class="fas fa-phone"></i>
            <p>92994108504</p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>Somos una consultora de estrategia e innovación, impulsando nuevas alternativas y construyendo organizaciones agiles e innovadora para el futuro que se acerca, implementando una vision corporativa y estrategica.</span>
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fab fa-instagram"></i>
            </a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>