<div class="article">
    <div class="wrapper">
        <div class="wrapperText">
            <h1>
                <mark>
                    Estrategias Empresariales: Pasos a seguir para estabelecer una solida estrategia empresarial
                </mark>
            </h1>
            <p id="author">
                <mark>by Bruno Ruiz</mark>
            </p>
        </div>
    </div>
    <div class="articleText">
        <h4 class="introduction">
            ¿Qué hace que un árbol, como la Araucaria, pueda vivir más de cien años? Tienen la capacidad de adaptarse a los continuos cambios de clima. Eso mismo pasa en las organizaciones, ya que han aprendido que para mantenerse en este mercado cada vez más competitivo, deben tener la flexibilidad suficiente para responder rápidamente a todo tipo de obstáculos.
        </h4>
        
        <h2 >¿Que es Estrategia?</h2>
        <p>
            la hora de adaptarse a los cambios que se presentan en una organización, es fundamental mantener una planificación estratégica para seguir compitiendo con sus rivales.
            <br>
            <br>
            El economista y académico estadounidense, Michael.E.Porter, explica que la estrategia consiste en ser diferente. Es la selección deliberada de un conjunto de actividades distintas para entregar una mezcla única de valor a la compañía y a sus clientes. Es decir, lo que me va a distinguir de mi competencia.
            <br>
            <br>
            “Una empresa puede desempeñarse mejor que sus rivales solo si es capaz de establecer una diferencia que pueda mantener”, sostiene Porter.
            <br>
            <br>
            Para entender lo que dice el autor, pone como ejemplo a la aerolínea originaria de Texas, Southwest, la cual ofrece un servicio de vuelos cortos de punto a punto, a menor precio en aeropuertos secundarios de las grandes ciudades.
            <br>
            <br>
            Con sus tarifas económicas atraen a personas de negocio, estudiantes y familias que prefieren no gastar mucho en sus boletos de avión.
            <br>
            <br>
            La estrategia corporativa que utilizó esta compañía fue ofrecer una experiencia de vuelo distinta a lo que otras aerolíneas brindaban regularmente.
            <br>
            <br>
            ¿Cómo lo hicieron? Redujeron todos sus servicios al estricto mínimo. Cortaron la atención de comida a bordo incluida habitualmente, quitaron la posibilidad de escoger asiento, eliminaron el equipaje en bodega y muchas otras medidas que permitieron acortar el tiempo de embarque a solo 15 minutos en la puerta de salida y ofrecer vuelos frecuentes con un menor número de aviones.
            <br>
            <br>
            Según el economista “para tener más de algo hay que tener menos de otro” y, en el caso de Southwest Airlines Company, el optar por servir comidas aumentaría los costos y tiempo de embarque. No puede elegir ambas opciones sin generar ineficiencias.
            <br>
            <br>
            “La estrategia hace que las decisiones sobre lo que no hay que hacer sean tan importantes como las decisiones sobre lo que sí se va a hacer”, dice Michael.E. Porter.
            <br>
            <br>
            Para obtener una estrategia clara y sólida todo depende de un buen liderazgo, quien va a establecer la disciplina para decidir los cambios del sector y a cuáles necesidades de los usuarios responderá la empresa.
            <br>
            <br>
            Un buen desarrollo de la estrategia implica decidir cuáles serán los clientes objetivos, variedades de productos y necesidades que debe atender la organización; como también saber a qué usuarios no se van a dirigir y qué características o servicios no ofrecerán.
        </p>
        <h2>¿Que no es Estrategia?</h2>
        <p>
            Para que una organización sea exitosa en el mediano y largo plazo, debemos establecer una estrategia que nos ayude a cumplir con nuestros objetivos. Sin embargo, existe una confusión respecto a qué es y qué no es una estrategia. No basta con querer ser el mejor del mercado, el más eficiente, implementar las mejores prácticas de la industria e incluso utilizar todo el presupuesto. La clave es preguntarse: ¿En qué nos queremos diferenciar de la competencia? Veamos algunos ejemplos de lo que NO es estrategia:
        </p>
        <ol>
            <li>
                Estrategia no quiere decir que debes ser el N°1: más bien es una meta.
            </li>
            <br>
            <li>
                Estrategia no es lo mismo que misión, visión y valores: la misión es el propósito de una empresa; visión lo que se desea para el futuro de la ésta; y los valores son los principios que enmarcan a la organización.
            </li>
            <br>
            <li>
                Estrategia no es lo mismo que un plan estratégico: ya que está más cerca de la implementación de la estrategia que de su definición
            </li>
            <br>
            <li>
                Estrategia no es querer mejorar lo que hago hoy: eso es mejoramiento continuo.
            </li>
        </ol>
        <br>
        <br>
        <p>
            Por otro lado, una buena estrategia requiere de:
        </p>
        <br>
        <br>
        <ol>
            <li>
                Una mirada a largo plazo: la ejecución de ésta lleva tiempo.
            </li>
            <br>
            <li>
                Una propuesta única que te diferencie de la competencia y que sea sostenible en el tiempo
            </li>
            <br>
            <li>
                Se necesita un modelo de negocios que soporte la propuesta de valor.
            </li>
            <br>
            <li>
                Definir qué no se va a hacer.
            </li>
            <br>
            <li>
                Aunque tu producto o servicio no sea único por la alta competencia en el mercado, es necesario definir los atributos que te van ayudar a diferenciarte.
            </li>
        </ol>
    </div>
    <br>
</div>
