@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bebas+Neue&display=swap');

.seccion1{
  background-color: #f9f9f9;
}
.titulonegrita{
  font-family: 'Bebas Neue', cursive;
}
.titulo-principal{
  font-family: 'Amiri', serif;
  font-family: 'Bebas Neue', cursive;
}
.titulo-principal div{
  color:#287dc5;
}

//SECCION DE LAS CARDS DE LOS MIEMBROS DEL EQUIPO
.swiper-container {
  height: auto;
  width: 80%;
}
.container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.card-wrapper {
  width: 400px;
  height: 700px;
  position: relative;
}

.card {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 350px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;

  .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
  }

  &:hover img {
    opacity: 0.4;
    transition: 0.5s;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Social Icons *****/

.social-icons {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;

  li {
    list-style: none;

    a {
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #fff;
      font-size: 23px;
      color: #333;
      font-weight: bold;
      margin: 0 6px;
      transition: 0.4s;
      transform: translateY(200px);
      opacity: 0;
    }
  }
}

.card:hover .social-icons li a {
  transform: translateY(0px);
  opacity: 1;
}

.social-icons li a:hover {
  background: #000;
  transition: 0.2s;
  .fab {
    color: #fff;
  }
}

.social-icons li a .fab {
  transition: 0.8s;

  &:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
}

.card:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}
.card:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}
.card:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}
.card:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 120px;
  z-index: 1;
  padding: 10px;

  h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .job-title {
      font-size: 1rem;
      line-height: 2.5rem;
      color: #333;
      font-weight: 300;
    }
  }
}
//----------------------------------------------------------------------------//



/*SECCION DE LAS CARDS DE COMO LO HACEMOS*/
//--------------------------------------------------------------------------------//

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  margin: 2rem;
}

$color_white: #fff;
$color_prime: #287dc5;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 15;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    a {
      text-decoration: dotted underline;
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        bottom: 12px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}
//-----------------------------------------------------------------------------------------------//

//ESTILOS DE LOS BLOGS//
//------------------------------------------------------------------------------------------------//
.webinar-grid {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.link-block {
  position: relative;
  width: 30%;
  min-height: 400px;
  text-align: center;
  margin: 20px auto;
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}

.link-block:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.link-block .dundas-blue-link {
  background: rgba(40, 150, 211, 1);
  border: solid 1px rgba(40, 150, 211, 1);
  padding: 8px 25px;
  color: #fff !important;
  width: auto;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.link-block .dundas-blue-link:hover {
  background: #fff;
  color: rgba(40, 150, 211, 1) !important;
}

.link-block .webinar-image-container {
  width: 100%;
  height: 150px;
  position:relative;
  top: 0;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 200;
}

.link-block:hover .webinar-image-container {
  top: -20px;
}

.link-block .dundas-blue-text-long {
  position:relative;
  top: 0;
  transition: all 0.8s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #f0f0f0;
  z-index: 100;
  font-weight: 100;
  color: rgba(40, 150, 211, 0.9);
  font-size: 24px;
  padding: 0 10px;
  opacity: 1;
}

.link-block:hover .dundas-blue-text-long {
  top: -20px;
  opacity: 0;
}

.link-block h2 {
  position: absolute;
}

.link-block .webinar-content-box {
  position: relative;
  padding: 20px;
  top: -20px;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
}

.link-block:hover .webinar-content-box {
  top: -30px;
  opacity: 1;
}

.webinar-content-box p {
  padding: 0 0 20px 0;
  color: #6a6a6a;
}

.webinar-content-box a {
  text-decoration: none !important;
}

.webinar-image-container img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.archive {
  display: none;
}


@media only screen and (min-width: 569px) and (max-width: 880px) {
  .link-block {
    position: relative;
    width: 45%;
    max-width: 330px;
  }
  .link-block .dundas-blue-text-long {
    font-size: 22px;
  }
}

/* RESPONSIVO MOBIL */

@media only screen and (min-width: 0) and (max-width: 568px) {
  .link-block {
    position: relative;
    width: 90%;
    max-width: 300px;
  }
  .link-block .dundas-blue-text-long {
    font-size: 18px;
  }
}

.videoWrapper {
  height: auto;
  width: 723px;
  position: relative;
  overflow: hidden;
}

.videoWrapper iframe {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

//------------------------------------------------------------------------------------------------//

//SECCION DE SUSCRIPCION//
//-------------------------------------------------------------------------------------------------//
.home-newsletter {
  padding: 80px 0;
  background: black;
}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.home-newsletter .single .form-control {
  height: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-color: transparent;
  border-radius: 20px 0 0 20px;
}
.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #243c4f;
}
.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0 20px 20px 0;
  background: #243c4f;
  color: #fff;
}
//--------------------------------------------------------------------------------------------------------//
