<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section class="titulo-principal">
            <div class="text-6xl  font-bold mb-3">El mundo no deja de cambiar</div>
            <h3 class="mt-0 mb-4 text-700 line-height-3">Ayudamos a transformar tu organización, desarrollar nuevos negocios y potenciar la innovación.</h3>
            <!--<button pButton pRipple label="Saber Mas" type="button" class="mr-3 p-button-raised"></button>-->
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/imagenes/inicio/img-principal.jpg" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center titulonegrita">
        <div class="text-800 font-bold text-5xl mb-3">Somos una Consultora de Estrategia e Innovacion</div>
        <div class="text-700 text-2xl mb-5">Asistimos y dirigimos a cada organizacion independiente,privada o publica a concretar con sus objetivos</div>
    </div>
</div>
<br>
<br>

<!----------------------------------------------------------------------------------------->
<!--SECCION DE LO QUE OFRECE EL SERVICIO-->

<div #login  class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center seccion1">
    <div class="text-700 text-center titulonegrita">
        <div class="text-800 font-bold text-5xl mb-3">Un Servicio</div>
        <div class="text-800 font-bold text-5xl mb-3 text-blue-500">Diversas soluciones a tu alcance</div>
    </div>
    <br>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-6 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-bar text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Formacion Estrategica</div>
            <span class="text-700 text-sm line-height-3">Impulsamos la formacion estrategica para la creacion de valor</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-6 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-chart-line text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Crecimiento y Desarrollo</div>
            <span class="text-700 text-sm line-height-3">Definimos nuevas alternativas que impulsan el crecimiento</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-6 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-users text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Alineamiento Organizacional</div>
            <span class="text-700 text-sm line-height-3">Construimos alineamiento organizacional para la ejecucion de la estrategia</span>
        </div>
        <div class="col-12 md:col-6 mb-4 px-5">
            <span class="p-3 shadow-6 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-sort-amount-up-alt text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Organizaciones Agiles</div>
            <span class="text-700 text-sm line-height-3">Desarrollamos organizaciones agiles para abordar el cambio</span>
        </div>
        <div class="col-12 md:col-6 mb-4 px-5">
            <span class="p-3 shadow-6 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-heart text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Cultura de Innovacion</div>
            <span class="text-700 text-sm line-height-3">Instalamos capacidades y cultura de innovacion en las organizaciones</span>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------->
<!--<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-700 text-center titulonegrita">
        <div class="text-900 font-bold text-5xl mb-3">Nuestro Equipo, mejorando cada dia</div>
        <div class="text-700 text-2xl mb-5">Profesionales capacitados para llevar el cambio de manera mas facil y de calidad</div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="../../../assets/foto-perfil-equipo/foto1.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    Sebastian Muñoz
                                    <br>
                                    <span class="job-title">Consultor Senior y Agile Coach</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="../../../assets/foto-perfil-equipo/foto2.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    Jorge Bustos
                                    <br>
                                    <span class="job-title">Proyect Manager</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="../../../assets/foto-perfil-equipo/foto3.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    Bianca Osorio
                                    <br>
                                    <span class="job-title">Agile Coach y Diseñadora</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="../../../assets/foto-perfil-equipo/foto4.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    Veronica Sandoval
                                    <br>
                                    <span class="job-title">Administracion y Finanzas</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>-->

<!-------------------------------------------------------------------------------------------------->
<!--SECCION DE *COMO LO HACEMOS*-->

<div class="surface-section px-4 py-2 md:px-6 lg:px-8 seccion1">
    <div class="text-900 text-center titulonegrita">
        <div class="text-900 font-bold text-5xl mb-3 mb-6">Como Lo Hacemos</div>
    </div>
    <div class="blog-card">
        <div class="meta">
            <div class="photo"style="background-image: url(../../../assets/como-lo-hacemos/img1.jpg)"></div>
        </div>
        <div class="description">
            <h1>Estrategia</h1>
            
            <ul>
                <li>
                    <p>Codiseñamos y apoyamos la implementación de la estrategia corporativa o competitiva, permitiendo a las organizaciones lograr su visión.</p>
                    
                </li>
                <br>
                <li>
                    Diseñamos modelos de negocios y nuevas propuestas de valor
                </li>
                <br>
                <li>
                    Facilitamos el alineamiento de la organización hacia la estrategia
                </li>
            </ul>
        </div>
        
       
    </div>
    
    <div class="blog-card alt my-4">
        <div class="meta">
          <div class="photo" style="background-image: url(../../../assets/como-lo-hacemos/img2.jpg)"></div>
        </div>
        <div class="description">
          <h1>Innovacion</h1>
          <ul>
              <li>
                  <p>Creamos de forma conjunta la estrategia de innovación y apoyamos en la implementación de los proyectos asociados a la misma.</p>
              </li>
              <br>
              <li>
                  Facilitamos la instalación de capacidades de innovación interna o abierta al ecosistema
              </li>
          </ul>
        </div>
        
    </div>
    <div class="blog-card">
        <div class="meta">
            <div class="photo"style="background-image: url(../../../assets/como-lo-hacemos/img3.jpg)"></div>
        </div>
        <div class="description">
            <h1>Business Agility</h1>
            <ul>
                <li>
                    <p>Instalamos capacidades y prácticas de agilidad en organizaciones, procurando situar al cliente en el centro.</p>
                </li>
                <br>
                <li>
                    Acompañamos en la ejecución y entrega de valor continuo al cliente.
                </li>
                <br>
                <li>
                    Facilitamos el alineamiento de la estrategia corporativa con un enfoque experimental.
                </li>
            </ul>
        </div>
    </div>
</div>
<br>
<br>

<!----------------------------------------------------------------------------------------->
<!--SECCION DE LOS BLOGS-->
<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-900 text-center titulonegrita">
        <div class="text-900 font-bold text-5xl mb-3 mb-6">Blogs</div>
        <div class="text-500 font-bold text-blue-400 text-5xl mb-3 mb-6">Una guia para conocer y potenciar tu negocio</div>
    </div>
    <div class="webinar-grid">
        <div  class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-business.jpg" class="img1">
            </div>
            <h1 class="dundas-blue-text-long text-center">
                BUSSINES AGILITY
            </h1>

            <div class="webinar-content-box">
                <p>Como instalar una cultura agil en los negocios para hacer frente a un ambiente incierto y dinámico</p>
                <a class="dundas-blue-link" routerLink="bussines-agility">Leer Publicacion &gt;</a>
            </div>
            </div>
        </div>
        <div  class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-design.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
            design thinking
            </h1>
            <div class="webinar-content-box">
                <p>La innovacion a traves del diseño y como la misma puede impactar en el entorno laboral</p>
                <a class="dundas-blue-link" routerLink="design-thinking">Leer Publicacion &gt;</a>
            </div>
            </div>
        </div>
        <div  class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-equipo.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Equipos de Trabajo:¿Una amenaza para la agilidad?
            </h1>
            <div class="webinar-content-box">
                <p>Comprende como esta influye en el ambiente y al desempeño de los miembros</p>
                <a class="dundas-blue-link" routerLink="equipo-trabajo-bajo-amenaza">Leer Publicacion &gt;</a>
            </div>
            </div>
        </div>

        <a routerLink="establecer-estrategia-empresarial" class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-estrategia.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Estrategias Empresariales
            </h1>
            <div class="webinar-content-box">
                <p>Pasos a seguir para establecer una solida estrategia empresarial</p>
                <span class="dundas-blue-link">Leer Publicacion &gt;</span>
            </div>
            </div>
        </a>

        <a routerLink="innovacion" class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-innovacion.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Innovacion en la Organizacion
            </h1>
            <div class="webinar-content-box">
                <p>Un factor importante para aprender y crecer</p>
                <span class="dundas-blue-link">Leer Publicación &gt;</span>
            </div>
            </div>
        </a>

        <a routerLink="tips-liderar-equipo" class="link-block">
            <div class="jumbotron left-right-jumbotron-block">
            <div class="webinar-image-container">
                <img src="./assets/img-blog/img-lider.jpg">
            </div>
            <h1 class="dundas-blue-text-long">
                Liderazgo en Equipo
            </h1>
            <div class="webinar-content-box">
                <p>Pasos para fomentar y establecer reglas para que el equipo opere de manera correcta</p>
                <span class="dundas-blue-link">Leer Publicación &gt;</span>
            </div>
            </div>
        </a>
    </div>
</div>
<br>
<br>
<br>
