<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <div class="text-6xl text-success font-bold mb-3">El mundo no deja de cambiar</div>
            <h3 class="mt-0 mb-4 text-700 line-height-3">Ayudamos a transformar tu organización, desarrollar nuevos negocios y potenciar la innovación.</h3>
            <button pButton pRipple label="Saber Mas" type="button" class="mr-3 p-button-raised"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/imagenes/inicio/hero-1.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-800 font-bold text-5xl mb-3">Una consultora con vos, siempre</div>
        <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
        <button pButton pRipple label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>
<br>
<br>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-900">One Product, </span>
        <span class="text-blue-600">Many Solutions</span>
    </div>
    <div class="text-700 text-sm mb-6">Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-desktop text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Built for Developers</div>
            <span class="text-700 text-sm line-height-3">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-lock text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">End-to-End Encryption</div>
            <span class="text-700 text-sm line-height-3">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-check-circle text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Easy to Use</div>
            <span class="text-700 text-sm line-height-3">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 20px">
                <i class="pi pi-globe text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Fast & Global Support</div>
            <span class="text-700 text-sm line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-github text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Open Source</div>
            <span class="text-700 text-sm line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <i class="pi pi-shield text-4xl text-blue-500"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Trusted Securitty</div>
            <span class="text-700 text-sm line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
        </div>
    </div>
</div>
<br>
<br>
<br>
<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-900 font-bold text-5xl mb-3">Nuestro Equipo, mejorando cada dia</div>
        <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    John Smith
                                    <br>
                                    <span class="job-title">UI designer</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/c9rY6J/profile02.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    John Smith
                                    <br>
                                    <span class="job-title">Proyect Manager</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/c9rY6J/profile02.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    John Smith
                                    <br>
                                    <span class="job-title">Proyect Manager</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="card-wrapper">
                        <div class="card">
                            <div class="card-image">
                                <img src="https://image.ibb.co/dUTfmJ/profile_img.jpg">
                            </div>
                            <ul class="social-icons">
                                <li>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fab fa-twitter" ></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="details">
                                <h2>
                                    John Smith
                                    <br>
                                    <span class="job-title">UI designer</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>


<!--SECCION DE *COMO LO HACEMOS*-->

<div class="surface-section px-4 py-2 md:px-6 lg:px-8">
    <div class="text-900 text-center">
        <div class="text-900 font-bold text-5xl mb-3 mb-6">Una consultora con vos, siempre</div>
    </div>
    <div class="blog-card">
        <div class="meta">
            <div class="photo"style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
            <ul class="details">
                <li class="author">Bruno Ruiz</li>
                <li class="date">Agost. 24, 2021</li>
            </ul>
        </div>
        <div class="description">
            <h1>Estrategia</h1>
            <ul>
                <li>
                    <p>Codiseñamos y apoyamos la implementación de la estrategia corporativa o competitiva, permitiendo a las organizaciones lograr su visión.</p>
                </li>
                <li>
                    <p>Diseñamos modelos de negocios y nuevas propuestas de valor.</p>
                </li>
                <li>
                    <p>Facilitamos el alineamiento de la organización hacia la estrategia</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="blog-card alt my-4">
        <div class="meta">
          <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
        </div>
        <div class="description">
          <h1>Innovacion</h1>
          <ul>
              <li>
                  <p>Creamos de forma conjunta la estrategia de innovación y apoyamos en la implementación de los proyectos asociados a la misma.</p>
              </li>
              <br>
              <li>
                  Facilitamos la instalación de capacidades de innovación interna o abierta al ecosistema
              </li>
          </ul>
        </div>
    </div>
    <div class="blog-card">
        <div class="meta">
            <div class="photo"style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
        </div>
        <div class="description">
            <h1>Estrategia</h1>
            <ul>
                <li>
                    <p>Codiseñamos y apoyamos la implementación de la estrategia corporativa o competitiva, permitiendo a las organizaciones lograr su visión.</p>
                </li>
                <li>
                    <p>Diseñamos modelos de negocios y nuevas propuestas de valor.</p>
                </li>
            </ul>
        </div>
    </div>
</div>
