<!--<h1>Burger Menu <span>by JLNLJN</span></h1>

<input id="burger" type="checkbox" />

<label for="burger">
    <span></span>
    <span></span>
    <span></span>
</label>

<nav>    
  <ul>
    <li class="hover-underline"><a href="inicio">Inicio</a></li>
    <li><a href="#">Quienes somos</a></li>
    <li><a href="#">Que hacemos</a></li>
    <li class="hover-underline"><a href="contacto">Contacto</a></li>
  </ul> 
</nav>-->
<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img src="assets/logos/logo-app.png"  height="100" width="auto"  class="p-mr-2">
  </ng-template>
  <p *ngIf="islogged">Bienvenido! {{username}}</p>
  <button  *ngIf="!islogged"  class="transition-delay-100 transition-colors transition-duration-1000 bg-blue-500 hover:bg-gray-900 text-white hover:text-white-900
    flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3" pButton type="button" icon="pi pi-user" label="Iniciar Sesion" routerLink="registro">
  </button>
  
  
  <button *ngIf="islogged" class="transition-delay-100 transition-colors transition-duration-1000 bg-red-800 hover:bg-gray-900 text-white hover:text-white-900
    flex align-items-center justify-content-left font-bold border-round cursor-pointer m-2 px-5 py-3" pButton type="button" icon="pi pi-power-off" label="salir" (click)="salirLogin()">
  </button>
  
</p-menubar>
