<div class="article">
    <div class="wrapper">
        <div class="wrapperText">
            <h1>
                <mark>
                   Design Thinking: La innovación a traves del diseño y como la misma puede impactar en el entorno laboral
                </mark>
            </h1>
            <p id="author">
                <mark>by Bruno Ruiz</mark>
            </p>
        </div>
    </div>
    <div class="articleText">
        <h4 class="introduction">
            Hoy en día nos encontramos en una era de cambios y adaptabilidad, pues vivimos en diferentes sistemas que se entrelazan, donde muchos de los problemas son dinámicos e inherentes a las personas. En este escenario con constantes mutaciones, naturalmente surgen nuevas necesidades y, con ello, una serie de desafíos a los que las organizaciones deben hacer frente.
        </h4>
        <p>
            En esta búsqueda de soluciones para atender las exigencias de los clientes, surge el <b>Design Thinking</b> o pensamiento de diseño, que se entiende como un enfoque de innovación basado en un conjunto de herramientas de diseñador para integrar las necesidades de las personas, las posibilidades de la tecnología y los requisitos para el éxito empresarial. El Design Thinking utiliza actividades creativas para fomentar la colaboración y resolver problemas, pero siempre poniendo en el centro a las personas y sus necesidades.
        </p>
        <p>
            En la misma medida, este enfoque combina tres habilidades importantes: la empatía para comprender el contexto o problema, la creatividad para producir nuevas ideas y el razonamiento para adecuar las soluciones a los diferentes escenarios. Además, se establece bajo la intención de desarrollar una mentalidad que le permita a la organización mantenerse abierta y curiosa, considerando el optimismo, la iteración y la ambigüedad como aliados claves en el proceso.
        </p>
        <h2>Etapas del Design Thinking</h2>
        <p>
            Como mencionamos anteriormente, la metodología del Design Thinking tiene como característica fundamental centrarse en los clientes, pues toma en cuenta sus problemas y buscan la manera de empatizar con ellos. En este ámbito, es de suma importancia evaluar las situaciones y estar conscientes de dónde estamos y qué necesitamos para responder a las demandas de las personas. Por esta razón, antes de realizar alguna estrategia, se deben considerar las siguientes acciones:
        </p>
        <h3 class="actions">1.Empatizar</h3>
        <p>
            En esta etapa, se busca que la organización sea capaz de ponerse en los zapatos del cliente, comprendiendo las necesidades que tiene para luego ser capaces de crear soluciones coherentes con su realidad. Empatizar es la base fundamental para el diseño de los productos o servicios que el cliente desea.
        </p>
        <h3 class="actions">2.Definir</h3>
        <p>
            Tras el proceso de empatía, se debe definir cuál es el problema y la necesidad real que se desea resolver. Se trata de dar claridad y foco al proceso de diseño basado en lo aprendido del cliente, su contexto, el problema o el reto que estamos enfrentando.
        </p>
        <h3 class="actions">3.Idear</h3>
        <p>
            Una vez comprendidas las necesidades del cliente y su contexto, se utiliza la definición de exigencias del usuario como trampolín para iniciar el proceso de ideación. Aquí se busca generar la mayor cantidad de posibilidades y considerar, siempre, que todas las ideas son válidas.
        </p>
        <h3 class="actions">4.Prototipar y Evaluar</h3>
        <p>
            Luego de generar la mayor cantidad de ideas, es momento de concretarlas. El objetivo aquí es construir prototipos que permitan hacer tangibles las iniciativas, para poder evaluar junto a los clientes y aprender por medio de su retroalimentación si los proyectos satisfacen o no las necesidades identificadas. Posteriormente, se vuelve a intentar hasta encontrar una solución innovadora que le genere valor real al cliente.
        </p>
        <h2>Algunas Herramientas Para Empatizar</h2>
        <ul>
            <li>
                <p><b>Customer Journey</b>:  Esta herramienta se centra en la experiencia de usuario y en el recorrido o uso que hace a través de un servicio, aplicación o producto. Para este caso, la recolección de datos toma una gran preponderancia, ya que en base a ellos se detectan errores y es posible diseñar mejores soluciones.</p>
            </li>
            <br>
            <li>
                <p><b>Observacion Etnografica</b>:  Es el estudio sistemático de personas y culturas. La etnografía es un método de investigación que consiste en observar las prácticas culturales de los grupos sociales y poder participar en ellos para así poder contrastar lo que la gente dice y lo que hace.</p>
            </li>
            <br>
            <li>
                <p><b>Mapa De Actores</b>:  A través de esta técnica se trata de realizar un mapa en el que se puedan identificar de forma visual los stakeholder que intervienen en el proceso que estamos analizando, para luego determinar sus características, intereses, importancia o influencia, así como también las relaciones que los conectan.</p>
            </li>
        </ul>
    </div>
    <br>
</div>
