<div class="container">
  <form id="contact" action="" method="post" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <h3>Quick Contact</h3>
    <h4>Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input
        placeholder="Tu Nombre"
        type="text"
        tabindex="1"
        autofocus
		formControlName="nombre"
      />
    </fieldset>
    <fieldset>
      <input
        placeholder="Tu Apellido"
        type="text"
        tabindex="2"
		formControlName="apellido"
      />
    </fieldset>
    <fieldset>
      <input 
	  	placeholder="Tu Mail"
	   	type="email"
		tabindex="3"
		required
		formControlName="email"
		/>
    </fieldset>
    <fieldset>
      <textarea
        placeholder="Type your Message Here...."
        tabindex="5"
		formControlName="mensaje"
      ></textarea>
    </fieldset>
    <fieldset>
      <button
        name="submit"
        type="submit"
        id="contact-submit"
        data-submit="...Sending"
      >
        Submit
      </button>
    </fieldset>
  </form>
</div>
