/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Bebas+Neue&display=swap');

p{
    font-family: 'Bebas Neue', cursive;
}
span{
    font-family: 'Bebas Neue', cursive;
}
li{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
a{
    font-family: 'Bebas Neue', cursive;
}

.p-menubar{
    border: none !important;
    border-radius: none !important;
}
p-menubarsub{
    margin: 0 0 0 auto !important;
}

body{
    margin: 0 !important;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: #287DC5;
    border-radius: 50px;
}